body {
  font-family: 'Papyrus', cursive;
  background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png');
  color: #ff00ff;
  margin: 0;
}

.container{
  margin: 100px 200px;
  text-align: justify;
}

h1{
  font-size: 50px;
  text-decoration: underline;
  animation: flicker 1s infinite;
}

@keyframes flicker{
  0%   { opacity: 1; }
  50%  { opacity: 0.2; }
  100% { opacity: 1; }
}

.dog-img {
  width: 500px;
  height: 500px;
  border-radius: 30%;
  filter: sepia(100%);
}

button-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: 50px;
}

a {
  color: #00B7FF;
}
