body {
  font-family: 'Papyrus', cursive;
  background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png');
  color: #ff00ff;
  margin: 0;
}

.container{
  margin: 100px 200px;
  text-align: justify;
}

h1{
  font-size: 50px;
}

a {
  color: #00B7FF;
}
